.container {
  //   margin: 50px 5%;
  display: flex;
  justify-content: space-between;
  .card {
    border-radius: 6px;
    cursor: pointer;
    flex:1;
    &:not(:last-child){
        margin-right: 15px;
    }
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.02) translateY(5px);
    }
    &__cases {
      border: solid 10px rgba(101, 96, 204, 0.7);
    }
    &__recovered {
      border: solid 10px rgba(70, 206, 122, 0.7);
    }
    &__deaths {
      border: solid 10px rgba(230, 61, 61, 0.7);
    }
  }
}
@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    .card {
      margin: 5% 0 0 0 !important;
    }
  }
}

