.map-container {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px hsla(0, 0%, 0%, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
    .tooltip{
        width: 150px;
        &-country{
             font-size: 15px;
            margin-top: 5px;
            font-weight: bold;
            color:#555;
        }
        &-deaths,&-cases,&-recovered{
            font-size: 12px;
            margin-top: 5px;
        }

        &-flag{
            width:100%;
            height:80px;
            background-size: cover;
            border-radius: 6px;
             box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                1px 4px 8px rgba(0,0,0,0.07);
        }
    }
  .leaflet-container {
    height: 100%;
  }
}
